.subNav :global(.emotion-css-cache-1keldt4) {
  display: flex;
}
.subNav :global(.emotion-css-cache-k008qs) {
  align-items: center;
  gap: 15px;
}
.subNav :global(.emotion-css-cache-3sby7u) {
  align-items: center !important;
}
