.gameLayoutHeader {
  height: 60px;
  background: #fea013;
  display: flex;
  color: #fff;
  padding: 0 10px;
}

.gameLayoutHeaderItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  line-height: 16.8px;
}

.gameLayoutHeaderItem :global(.ant-btn) {
  border-radius: 5px;
  height: 28px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.gameLayoutHeaderItem:not(:last-child) {
  margin-right: 10px;
}

.inputText {
  display: flex;
  background: #fff;
  border-radius: 5px;
  height: 28px;
  color: #000;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .gameLayoutHeader {
    display: flex;
    margin: 0 -10px;
  }
}
